* {
    margin-top: 0;
    margin-left: 0;
}
header {
    border-bottom: 1px solid #09090a;
    padding: 5px;
    background-color: #ffffff;
}

main {
    padding: 10px;
    position:relative;
    background: linear-gradient(0deg, rgb(3, 101, 199) 20%, rgb(14, 2, 107) 80%);

}


#login {
    background: rgb(0,7,135);
    background: linear-gradient(0deg, rgb(3, 101, 199) 20%, rgb(14, 2, 107) 80%);
} 
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/fundo-removebg-preview.png);
    width: 50%;
    background-position: 0%;
}

.color-primary {
    color: #fbfcfd;
}

.color-secundary {
    color: #000000;
}

.button-login {
    border-radius: 10px;
    background-color: #ff2222;
    color: #f6f4f4;
    width: 50%;
    margin: 0 25%;
}

.btn-outline-secondary {
    border-radius: 10px;
    background-color: #ff2222;
    color: #070606;
}

.button-default {
    border-radius: 10px;
    background-color: #ff2222;
    color: #ffffff;
    width: 25%;
    margin: 10%;

}

.button-cancel {
    border-radius: 10px;
    width: 25%;
}

input#button-salvar {
    background-color: #ff2222;
    color: #f5f2f2;
    border-radius: 20%;
}

input#input-descricao, input#input-detalhamento {
    padding: 2px;
    width: 80vh;
}

.button-float {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: fixed;
    padding: 0 !important;
    bottom: 1rem;
    right: 2rem;
    font-size: 35px;
    border: 2px solid  #ffffff;
    background-color:  #82a9b4;
    color: #ffffff;

}


.button-float:hover {
    border: 2px solid #010205;
    background-color: #ffffff;
}

.button-login:hover, .button-default:hover, .btn-outline-secondary:hover, input#button-salvar:hover{
    background: #010205;
    color: #ffffff;
}

.link-default {
    color: #e7e9e9;
    cursor: pointer;
}

.link-default:hover {
    color: #010205;
}


.info {
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 0px 0px 0px;
}

.logout {
    min-width: 5rem !important;
}

.menu {
    margin-right: 20px;
}